body {
  text-align: center;
  font-family: Roboto;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}
p {
  margin-bottom: 5px;
}
p.blurb {
  font-size: 14px;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

main .container {
    background-color: #f2f2f2;
    padding: 40px 80px;
}

#staff-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#staff-list .card {
    flex: 0 0 25%;
    max-width: 25%;
    margin: auto;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 70px;
    border: none;
    background-color: transparent;
    min-height: 360px;

}

#staff-list .card .email-address {
    flex-grow: 1; /* Pushed the More Details button to the bottom of the card */
}

#staff-list .card img {
    width: 100%;
    border-radius: 50%;
    max-width: 170px;
}

#staff-list .card .staff-photo {
  margin-bottom: 25px;
}
p.full-name {
  font-weight: 700;
  font-size: 16px;
}
p.job-title {
  font-size: 14px;
}
p.department {
  font-weight: 700;
  font-size: 14px;
}
p.email-address a {
  font-size: 14px;
}
.more-details-button button {
  text-transform: uppercase;
  background-color: #0162b8;
  color: #fff;
  font-size: 14px;
}
.more-details-button button:hover {
  background-color: #147fde;
}
.more-details-button button::after {
  content: ' >';
}

@media(max-width: 1200px) {
    #staff-list .card {
        flex: 0 0 30%;
        max-width: 30%;
    }
}
@media(max-width: 962px) {
    #staff-list .card {
      flex: 0 0 48%;
      max-width: 48%;
    }
}
@media(max-width: 768px) {
    #staff-list .card {
      flex: 0 0 100%;
      max-width: 100%;
    }
}
